/* css for the header */
header {
  padding-top: 15px;
  text-align: center;
  font-size: 50px;
}

/* To take away the bullets in nav bar */
header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 15px;
}

nav {
  font-family: 'Poiret One', cursive;
  font-size: 15px;
  text-align: center;

}

.fixed{
position: fixed;
left: 0;
right: 0;
z-index: 100;
background-color: #0D1317;
}

/* CSS for Menu Button */
/* .dropdown {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px #d4af7a;
	z-index: 1;
	left: 0;
}

.dropdown li a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown li a:hover {
	background-color:tan;
}

.menu:hover .dropdown {
	display: block;
}

.menu:hover .menubtn {
	background-color: tan;
} */
/* .almond{
        color: #F2E2D2;
  } */

/* css for the body */
body {
  background-color: #0D1317;
  font-family: 'Poiret One', cursive;
  margin: 0;
  padding: 0;
}

.almond {
  color: #f2e2d2
}

/* This code is to show the mainSlide only */
.container {
  height: 100vh;
  background-color: #0D1317;
  box-sizing: border-box;
}

#aboutSlide {
  height: 100vh;
  width: 100vw;
  /*needed to add a 'vw' because we wanted the width, so that it will match the height 'vh' */
  /* position:absolute; /*needed to make the position absolute so that we could move it all the way to the left
    left:0; this means it HAS to start at the start of the left-side browser, starting at pixel zero */
  background-color: #f2e2d2;
  color: #0D1317;
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
}

/*; <--do not put a semicolon at the end of the curly brace, will affect the code below it*/

#workSlide {
  height: 70vh;
  width: 100vw; 
    /* Changed this to make the pictures look better */
  /*needed to add a 'vw' because we wanted the width, so that it will match the height 'vh'*/
  /* position:absolute; /*needed to make the position absolute so that we could move it all the way to the left 
    left:0; /*this means it HAS to start at the start of the left-side browser, starting at pixel zero */
  background-color: #0D1317;
  color: #f2e2d2;
  box-sizing: border-box;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 3vh; */
}

/* CSS for the images */
#carousel-items{
  width: 70vw;
  /* height: 70vh; */
}


/* CSS for the contact page */
#Contact-Me{
  margin-top: 50vh;
  height: calc(100vh - 3rem);
  width: 100vw;
  background-color: #0D1317;
  color: #f2e2d2;
  box-sizing: border-box;
  text-align: center !important;
  }

  .Contact-List{
    list-style-type: none;
  }
/* vertical 'AMY'-mainslide */
.verticalName {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 100px;
  font-family: 'Poiret One', cursive;
  padding-top: 100px;
  padding-left: 300px;
  text-align: center;
}


#About-Me,
#Work,
#Contact-Title {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 3vh;
  padding-top: 2rem;
}

.card-text {
  font-size: 1.2rem !important;
  line-height: 2.5 !important;
  text-align: justify !important;
}

.card-title {
  text-align: justify !important;
}


/* To make the screen readable on all devices */
/* @media screen and (min-width: 350px) {
  .verticalName {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  /* .location {
          display:flex;
          flex-direction:column;
          flex-basis: 70%;
      } */
/* }

@media screen and (min-width: 780px) {
  .verticalName {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  } */

  /* .location {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  } */


/* #carouselExampleFade div {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } */

  /* Look into the 'AboutMe'- the text (make it bold, make the image smaller)- refer to Tutorial Videos */